  #head1 {
    display:none;          
  }
  
  #head3 {
    display:none;          
    }

  #diamondImg {    
    display:none;
  }

  #content_container{
    display:none;
  }

  #top_block{
    display:flex;
    flex-direction: column;
  }

  .top_cell{
    flex:1;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
  }

  .top_cell p{
    font-size:4vw;
    font-weight: bold;
    color:darkslateblue;
  }

  /* Jumbotron Related */
  #content_container .jumbotron{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    height: 60vh;
    margin-bottom:0px;
  }

  #content_container .jumbotron .container{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
  }

  
  #content_container .jumbotron .container h2{
    color: white;
    font-weight: bold;
  }

  #jumbotronDeveloper{
    background: url('../images/developerDaily.png')
  }

  #jumbotronCoding{
    background: url('../images/programming.jpg')
  }

  .btn{
    background-color: darkslateblue;
    color:white;
    padding: 7px 28px;
    border-radius: 10px;
    border: none;
  }

  .btn:hover{
    background-color: #eeee77;
    color:darkslateblue;
    opacity: 0.8;
  }


  /* For Specific Font */
  .roboto-thin {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .roboto-bold {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .roboto-black {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .roboto-thin-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .roboto-regular-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .roboto-medium-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .roboto-bold-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .roboto-black-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
