{% extends 'base.html' %}
{% block title %}
Home page
{% endblock %}

{% block css %}    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css')}}">
{% endblock %}


{% block content %}
    <div class="top_block">
        <div class="top_cell roboto-bold"><p id="head1">Hi, I'm Diamond Dai</p></div>
        <div class="top_cell"><img id="diamondImg" src="{{ url_for('static', filename='images/diamond2.png')}}"></div>
        <div class="top_cell roboto-bold"><p id="head3">A Software Developer</p></div>
    </div>
    <div class="content_container">

    </div>
            
{% endblock %}


{% block script %}
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>    
    <script src="{{ url_for('static', filename='script/home.js')}}"></script>
{% endblock %}